In [1]:
import pandas as pd

df = pd.read_excel('dataKasus-1.xlsx')

print(df)

      NO      NAMA   USIA  PARITAS JARAK KELAHIRAN RIW HIPERTENSI RIW PE  \
0      1    NAMA 1  23 TH        3       < 2 tahun          Tidak  Tidak
1      2    NAMA 2  29 TH        2       < 2 tahun          Tidak    PEB
2      3    NAMA 3  20 TH        1    anak pertama          Tidak  Tidak
3      4    NAMA 4  18 TH        1    anak pertama          Tidak  Tidak
4      5    NAMA 5  34 TH        3      > 2 tahun           Tidak  Tidak
..   ...       ...    ...      ...             ...            ...    ...
556  558  NAMA 557  40 TH        3      > 2 tahun           Tidak  Tidak
557  559  NAMA 558  28 TH        3       < 2 tahun          Tidak  Tidak
558  560  NAMA 559  41 TH        3      > 2 tahun           Tidak  Tidak
559  561  NAMA 560  32 TH        2      > 2 tahun           Tidak  Tidak
560  562  NAMA 561  30 TH        2      > 2 tahun           Tidak  Tidak

    OBESITAS RIW DM RIW HIPERTENSI/PE DALAM KELUARGA SOSEK RENDAH PE/Non PE  \
0      Tidak     Ya                            Tidak         >UMR    Non PE
1      Tidak  Tidak                              Ada         >UMR        PE
2      Tidak  Tidak                            Tidak         >UMR    Non PE
3      Tidak  Tidak                            Tidak         >UMR    Non PE
4      Tidak  Tidak                            Tidak         >UMR    Non PE
..       ...    ...                              ...          ...       ...
556    Tidak  Tidak                            Tidak         >UMR    Non PE
557    Tidak  Tidak                            Tidak         >UMR    Non PE
558    Tidak  Tidak                            Tidak         >UMR    Non PE
559    Tidak  Tidak                            Tidak         >UMR    Non PE
560    Tidak  Tidak                            Tidak         >UMR    Non PE

    Unnamed: 12
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
556         NaN
557         NaN
558         NaN
559         NaN
560         NaN

[561 rows x 13 columns]

In [2]:
df = df.drop(['NO', 'NAMA','Unnamed: 12'], axis=1)


print(df)

      USIA  PARITAS JARAK KELAHIRAN RIW HIPERTENSI RIW PE OBESITAS RIW DM  \
0    23 TH        3       < 2 tahun          Tidak  Tidak    Tidak     Ya
1    29 TH        2       < 2 tahun          Tidak    PEB    Tidak  Tidak
2    20 TH        1    anak pertama          Tidak  Tidak    Tidak  Tidak
3    18 TH        1    anak pertama          Tidak  Tidak    Tidak  Tidak
4    34 TH        3      > 2 tahun           Tidak  Tidak    Tidak  Tidak
..     ...      ...             ...            ...    ...      ...    ...
556  40 TH        3      > 2 tahun           Tidak  Tidak    Tidak  Tidak
557  28 TH        3       < 2 tahun          Tidak  Tidak    Tidak  Tidak
558  41 TH        3      > 2 tahun           Tidak  Tidak    Tidak  Tidak
559  32 TH        2      > 2 tahun           Tidak  Tidak    Tidak  Tidak
560  30 TH        2      > 2 tahun           Tidak  Tidak    Tidak  Tidak

    RIW HIPERTENSI/PE DALAM KELUARGA SOSEK RENDAH PE/Non PE
0                              Tidak         >UMR    Non PE
1                                Ada         >UMR        PE
2                              Tidak         >UMR    Non PE
3                              Tidak         >UMR    Non PE
4                              Tidak         >UMR    Non PE
..                               ...          ...       ...
556                            Tidak         >UMR    Non PE
557                            Tidak         >UMR    Non PE
558                            Tidak         >UMR    Non PE
559                            Tidak         >UMR    Non PE
560                            Tidak         >UMR    Non PE

[561 rows x 10 columns]

In [ ]:
df['USIA'] = df['USIA'].str.replace(' TH', '')
df['USIA'] = df['USIA'].str.replace('TH', '')
df['USIA'] = df['USIA'].str.replace('th', '')
df['USIA'] = df['USIA'].str.replace(' th', '')
df = df.dropna(subset=['USIA'])
df['USIA'] = df['USIA'].astype(int)

df = df.dropna(subset=['JARAK KELAHIRAN'])

df['JARAK KELAHIRAN'] = df['JARAK KELAHIRAN'].map(
                   {'< 2 tahun':0 ,'anak pertama':1,'> 2 tahun ':2,'> 2 tahun':2})

df['RIW HIPERTENSI'] = df['RIW HIPERTENSI'].map(
                   {'Tidak':0 ,'Ya':1})


df['RIW PE'] = df['RIW PE'].map(
                   {'Tidak':0 ,'PEB':1,'Impending Eklamsia':2,'PE':3,'Kejang Konvulsi':4,
                    'impending eklamsia':5,'HELLP SYNDROM':6,'PE, HELLP Syndrome':7,
                    'Impending PE':8,'PEB impending eklampsi':9,'Impending Ekalmsia':10})

df['OBESITAS'] = df['OBESITAS'].map(
                   {'Tidak':0 ,'Ya':1})

df['RIW DM'] = df['RIW DM'].map(
                   {'Tidak':0 ,'Ya':1})

df['RIW HIPERTENSI/PE DALAM KELUARGA'] = df['RIW HIPERTENSI/PE DALAM KELUARGA'].map(
                   {'Tidak':0 ,'Ada':1})

df['SOSEK RENDAH'] = df['SOSEK RENDAH'].map(
                   {'<UMR':0 ,'>UMR':1})

df['PE/Non PE'] = df['PE/Non PE'].map(
                   {'Non PE':0 ,'PE':1,'PEB':2,'Eklamsia':3,'PE gemelli' :4,'PEB impending eklampsi':5,'PE ':6})

In [8]:
print(df)

     USIA  PARITAS  JARAK KELAHIRAN  RIW HIPERTENSI  RIW PE  OBESITAS  RIW DM  \
0      23        3                0               0       0         0       1
1      29        2                0               0       1         0       0
2      20        1                1               0       0         0       0
3      18        1                1               0       0         0       0
4      34        3                2               0       0         0       0
..    ...      ...              ...             ...     ...       ...     ...
556    40        3                2               0       0         0       0
557    28        3                0               0       0         0       0
558    41        3                2               0       0         0       0
559    32        2                2               0       0         0       0
560    30        2                2               0       0         0       0

     RIW HIPERTENSI/PE DALAM KELUARGA  SOSEK RENDAH  PE/Non PE
0                                   0             1          0
1                                   1             1          1
2                                   0             1          0
3                                   0             1          0
4                                   0             1          0
..                                ...           ...        ...
556                                 0             1          0
557                                 0             1          0
558                                 0             1          0
559                                 0             1          0
560                                 0             1          0

[540 rows x 10 columns]

In [7]:
df.to_numpy()

array([[23,  3,  0, ...,  0,  1,  0],
       [29,  2,  0, ...,  1,  1,  1],
       [20,  1,  1, ...,  0,  1,  0],
       ...,
       [41,  3,  2, ...,  0,  1,  0],
       [32,  2,  2, ...,  0,  1,  0],
       [30,  2,  2, ...,  0,  1,  0]])